body {
  background-color: rgb(236, 252, 253);
  font-family: "Roboto", sans-serif;
}

main {
  background-color: rgb(246, 250, 255);
  margin: auto;
  width: 40rem;
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

section {
  margin-bottom: 1rem;
}

h1 {
  text-align: center;
  margin: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  box-sizing: border-box;
}

label {
  margin-bottom: 0.5rem 0;
  display: block;
  color: rgb(66, 76, 97);
}

input,
textarea,
select {
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(152, 159, 184);
  border-radius: 4px;
  padding: 0.5rem;
  color: rgb(66, 76, 97);
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  background-color: rgb(217, 227, 247);
  }

button {
  font: inherit;
  border: 1px solid rgb(51, 67, 100);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

#btn-section {
    text-align: right;
  }

#btn-clear {
  color: rgb(51, 67, 100);
  background-color: transparent;
}

#btn-submit {
  background-color: rgb(51, 67, 100);
  color: white;
}

#btn-clear:hover {
  background-color: rgb(208, 215, 230);
}

#btn-submit:hover {
  background-color: rgb(69, 89, 129);
  border-color: rgb(69, 89, 129);
}

.inline-control {
  display: flex;
}

.inline-control input {
  width: auto;
  margin-right: 0.5rem;
}
